<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses Assignment Django</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="form-group">
            <h1>Add a new course</h1>
        <form class="" action="/process" method="POST">
          {% csrf_token %}
        <div class="form-group">
              <label>Name:<input type="text" name="name" value=""></label>
        </div>
        <div class="form-group">
              <label>Description:<textarea name="description" rows="8" cols="80"></textarea></label>
              <input type="submit" name="submit" value="Add">
        </div>
        </form>
      </div>
          <h1>Courses</h1>
          <table class= "table table-bordered">
            <thead>
              <th>Course Name</th>
              <th>Description</th>
              <th>Date Added</th>
              <th>Actions</th>
            </thead>
         <tbody>
            <tr>
              {% for course in courses %}
              <td>
                <h4>{{course.course_name}}</h4>
              </td>
              <td>
                <h4>{{course.description}}</h4>
              </td>
              <td>
                <h4>{{course.created_at}}</h4>
              </td>
              <td>
                <a href="/delete/{{course.id}}"><button class="" type="button" name="button" value="Remove">Remove</button></a>
              </td>
            </tr>
              {% endfor %}
        </tbody>
        </table>
    </div>
  </body>
</html>
