<!DOCTYPE HTML>
<html>
<head>
  <meta charset = "UTF-8">
  <meta name="viewport" context="width=device-width, initial-scale=1">
  {% load static %}
  <title>Products Assigment Django</title>
</head>
<body>
  <h1>Products</h1>
  <form action='process_products' method="post">
    {% csrf_token %}
    <div class = "form-group">
      <label for="product_name"> Product Name</label>
      <input type="text" name="product_name">
    </div>
    <div class = "form-group">
      <label for="description">Description</label>
      <input type="text" name="description">
    </div>
    <div class = "form-group">
      <label for="product_weight">Weight</label>
      <input type="text" name="product_weight">
    </div>
    <div class = "form-group">
      <label for="product_category">Category</label>
      <input type="text" name="product_category">
    </div>
  </form>
</body>

</head>
